/*  your css code here. If applicable */
body{
	display:flex;
	flex-direction:column;
	justify-content:center;

}
h1{
	text-align:center;
}
.middle
{
	border:1px solid black;
	padding:1px;
	border-collapse:collapse;
	margin:1px;
}
.cen{
	text-align:center;
}
.rig{
	text-align:right;
}
 td{
	 border:1px black solid;
	 border-spacing:1px;
 }
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}